<div>
   <%=@player_1%> vs <%=@player_2%>
</div>

<div>
  <%=@player_2%> Hit Points: 100
</div>

<div>
  <%=@player_1%> : <form action="/attack"><button type="submit" name="player1_attack" value="BAM!">Attack!</button></form>
  <%=@player1_attack%>
</div>